In [1]:
1+1

2

## 기초문법


### 파이썬 확장자명
- .py  : 개발용
- .ipynb : 분석가, 데이터싸이언티스트, 강의용
  + 주피터 노트북, 주피터 랩

In [38]:
  print("Hello, World")

Hello, World

## 주석 처리
- 한줄 주석 처리
- 여러줄 주석 처리

In [3]:
# 한줄 주석 처리, 주석 주석

print("Hello, World")

Hello, World

In [5]:
# 여러줄 주석 처리
'''
abc
dec
def
'''
# 또는
"""
abc
dec
def
"""
print("Hello, World")

Hello, World

ipynb 파일을 md +
이미지 같이 변환 가능
==> 노션에서

## 그림

## 변수의 종류
- 변수의 종류 : 숫자, 문자, 논리(true, false), NULL

In [8]:
# 정수형
num_int = 1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [9]:
# 실수형
num_float = 0.2
print(num_float)
print(type(num_float))

0.2
<class 'float'>

In [14]:
# 논리 자료형
bool_true = False  # True
print(bool_true)
print(type(bool_true))

False
<class 'bool'>

In [11]:
# NULL 자료형
none_x = None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

### 4가지 자료형 : Scalar 자료형
- int, float, bool, NoneType
- 더는 나눌 수 없는 최소 단위의 자료형
  + 이 객체 하나로는 반복문 사용이 불가

## 정수형 사칙 연산
- 결괏값의 자료형 확인
- 특이한 사칙연산자 하나 있음 (나눗셈) 
  - 나눗셈 : 나눗셈은 float형으로 나옴

In [43]:
a = 3
b = 2

c = a + b

print(c)
print(type(c))

print("-------------------------")

d = 4
e = 2
print(d / e)
print(type(d / e))

5
<class 'int'>
-------------------------
2.0
<class 'float'>

## 실수형 사칙 연산
- 결괏값의 자료형 확인

In [19]:
a = 4.0
b = 2.0

c = a + b

print(c)
print(type(c))

6.0
<class 'float'>

## 논리형 연산자
- AND, OR, NOT(옵션)

In [24]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print("-------------------------") 
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False
-------------------------
True
True
True
False

## 부등호 연산자
- # >, <, >=, <=

In [29]:
print(4 > 3)
print(4 < 3)
print(4 >= 3)
print(4 <= 3)
print(3 <= 3)

True
False
True
False
True

## 두개의 값 비교
- 입력받아서 True, False가 나오도록 간단한 프로그램 작성
- 형변환 배우기

In [33]:
var = input("값을 입력해주세요. ")
print("------------------")
print(var)
print(type(var))

값을 입력해주세요. 123
------------------
123
<class 'str'>

In [36]:
var1 = input("값을 입력해주세요. ")
var2 = input("값을 입력해주세요. ")
print("------------------")
print(var1 + var2)

# 형변환
var1 = int(input("값을 입력해주세요. "))
var2 = int(input("값을 입력해주세요. "))
print("------------------")
print(var1 + var2)

값을 입력해주세요. 123
값을 입력해주세요. 456
------------------
123456
값을 입력해주세요. 123
값을 입력해주세요. 456
------------------
579

In [37]:
print(var1 > var2)

False

## 오후 수업의 목표
- 파이썬 함수(method) 사용법 익히기
- 관련 문서 확인하기

In [44]:
# Capitallize()
# 문자열의 첫글자는 대문자로, 나머지는 소문자로 변환한다.

text = 'i love YOU'
result = text.capitalize()
print(result)

I love you

In [48]:
# strip()
## 인자로 전달된 문자를 String의 왼쪽과 오른쪽에서 제거합니다.

text = '  Python is best '
result = text.strip()
print(result)

Python is best

In [51]:
# split()
# 

text = '월드컵 라이징 스타 조규성(24·전북 현대)의 예상 이적료가 1년 사이 190만 유로(약 25억 9000만원)나 뛰었다. 축구 전문 매체 트랜스퍼마크트는 24일 2022 카타르월드컵에 뛰었던 주요 선수 53명에 대한 이적료 추정치를 새로 발표했다. 한국 대표팀 선수 중에서는 가나와 조별리그 2차전에서 두 골을 터뜨린 조규성이 포함됐다. 조규성은 월드컵 이전인 11월 예상 이적료가 140만 유로(19억원)였으나 월드컵이 끝난 뒤인 12월에는 250만 유로(34억원)로 뛰었다. 1년 전인 지난해 12월에는 예상 이적료가 60만 유로(8억원)였다.'
result = text.split(' ')
print(result)
print(type(result))

['월드컵', '라이징', '스타', '조규성(24·전북', '현대)의', '예상', '이적료가', '1년', '사이', '190만', '유로(약', '25억', '9000만원)나', '뛰었다.', '축구', '전문', '매체', '트랜스퍼마크트는', '24일', '2022', '카타르월드컵에', '뛰었던', '주요', '선수', '53명에', '대한', '이적료', '추정치를', '새로', '발표했다.', '한국', '대표팀', '선수', '중에서는', '가나와', '조별리그', '2차전에서', '두', '골을', '터뜨린', '조규성이', '포함됐다.', '조규성은', '월드컵', '이전인', '11월', '예상', '이적료가', '140만', '유로(19억원)였으나', '월드컵이', '끝난', '뒤인', '12월에는', '250만', '유로(34억원)로', '뛰었다.', '1년', '전인', '지난해', '12월에는', '예상', '이적료가', '60만', '유로(8억원)였다.']
<class 'list'>

## 리스트 자료형

In [62]:
# append()
# append는 덧붙인다는 뜻으로 괄호( ) 안에 값을 입력하면 새로운 요소를 array 맨 끝에 객체로 추가한다.
# append(x)는 리스트의 맨 마지막에 x를 추가하는 함수이다.

a = [100, 200, 300]
a.append(400)
print(a)

# 리스트 안에는 어떤 자료형도 추가할 수 있다. 다음 예는 리스트에 다시 리스트를 추가한 결과이다.
b = [400, 500, 600]
a.append(b)
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [400, 500, 600]]

In [ ]:
a = [100, 200, 300]
b = [400, 500, 600]

# 원하는 값 a = [100, 200, 300, 400, 500, 600]
# 반복문 활용 (복잡)
# extend() 메소드

In [61]:
# extend()
# extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.

a = [100, 200, 300]
b = [400, 500, 600]

a.extend(b)
print(a)

[100, 200, 300, 400, 500, 600]

In [63]:
# insert()
# insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다. 
# 파이썬은 숫자를 0부터 센다는 것을 반드시 기억하자.

a = [100, 200, 300]

# 100과 200사이에 150을 추가.

a.insert(1, 150)
print(a)

[100, 150, 200, 300]

### 리스트 내 특정 값 삭제

In [65]:
# remove()
# remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.

a = [1, 2, 1, 2]
a.remove(1)

print(a)

a.remove(1)
print(a)

[2, 1, 2]
[2, 2]

In [69]:
# del()
# 

a = [0,1,2,3,4,5,6,7,8,9]
del a[1]      # [x]는 index 번호
print(a)

# 범위로 삭제
del a[1:5]    # [1:5] index값이 1부터 5번째전까지(5미포함)
print(a)

# 전체 삭제
del a[:]
print(a)

# clear() 메소드
a = [1,1,1,1,1,1,1,1,1,1]
print(a)

a.clear()
print(a)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 6, 7, 8, 9]
[]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[]

In [71]:
# index()
# index(x) 함수는 리스트에 x 값이 있으면 x의 인덱스 값을 리턴한다.

a = ["Gold", "Gold", "Silver", "Silver"]

# Silver가 처음 등장하는 인덱스 번호가 궁금하다.
print(a.index("Silver"))

2

- 정렬

In [78]:
# sort()
# 오름차순으로 리스트 안에 값을 정렬.

a = [1, 6, 5, 2, 3, 4]
a.sort()
print(a)

# 내림차순으로 리스트 안에 값을 정렬.

a.sort(reverse=True)
print(a)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]

In [80]:
a = [1, 6, 5, 2, 3, 4, 'a']
a.sort()
print(a)

TypeError: ignored

In [79]:
# reverse()
# reverse 함수는 리스트를 역순으로 뒤집어 준다. 
# 이때 리스트 요소들을 순서대로 정렬한 다음 다시 역순으로 정렬하는 것이 아니라 
# 그저 현재의 리스트를 그대로 거꾸로 뒤집는다.

a = [1, 6, 5, 2, 3, 4]
a.reverse()
print(a)

[4, 3, 2, 5, 6, 1]

In [82]:
a = [1, 6, 5, 2, 3, 4]

print(min(a))
print(max(a))
print(len(a))   # length : 길이. len

1
6
6

## Tuple
- 튜플 생성

In [84]:
tuple1 = (0, )
tuple2 = (0, 1, 2)
tuple3 = 0, 1, 2, 3

print(tuple1)
print(tuple2)
print(tuple3)
print("--------------------------------")
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

(0,)
(0, 1, 2)
(0, 1, 2, 3)
--------------------------------
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [85]:
tuple0 = (1)
print(tuple0)
print(type(tuple0))

1
<class 'int'>

In [88]:
a = (0, 1, 2, 'A')
print(a)

# a.remove('A')
# print(a)

del a[3]
print(a)

# 튜플은 요소 값을 바꿀 수 없다. list와의 차이점.

(0, 1, 2, 'A')

TypeError: ignored

### 튜플 인덱싱 및 슬라이싱

In [91]:
tuple0 = (0,1,2,3,4,5,6,7,8,9)

print(tuple0[2])

# 슬라이싱으로 값을 꺼내오는 것은 가능
print(tuple0[::3])

2
(0, 3, 6, 9)

## Dictionary
- JSON과 유사한 자료형

In [92]:
# {key : value}

numbers = {1 : 'one', 2 : 'TWO', 3 : 'Three' }
print(numbers)

{1: 'one', 2: 'TWO', 3: 'Three'}

In [93]:
country_capital = {"한국" : "서울", "일본" : "동경", "중국" : "북경"}
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경'}

In [95]:
print(numbers[1])
print(country_capital['한국'])

one
서울

- 값 추가

In [98]:
numbers[4] = 'four'
print(numbers)

country_capital['미국'] = '뉴욕'
print(country_capital)

{1: 'one', 2: 'TWO', 3: 'Three', 4: 'four'}
{'한국': '서울', '일본': '동경', '중국': '북경', '미국': '뉴욕'}

- 값 수정

In [99]:
country_capital['미국'] = '워싱턴'
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경', '미국': '워싱턴'}

- 값 삭제

In [100]:
del country_capital['미국']
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경'}

### Dictionary 메소드
- keys() : 키 값만 출력
- values() : value값만 출력

In [105]:
result = country_capital.keys()

print(result)
print(type(result))
print("------------------------------------")
result = list(country_capital.keys())

print(result)
print(type(result))

dict_keys(['한국', '일본', '중국'])
<class 'dict_keys'>
------------------------------------
['한국', '일본', '중국']
<class 'list'>

In [106]:
result = country_capital.values()

print(result)
print(type(result))
print("------------------------------------")
result = list(country_capital.values())

print(result)
print(type(result))

dict_values(['서울', '동경', '북경'])
<class 'dict_values'>
------------------------------------
['한국', '일본', '중국']
<class 'list'>

In [108]:
result = country_capital.items()

print(result)
print(type(result))
print("------------------------------------")
result = list(country_capital.items())

print(result)
print(type(result))

dict_items([('한국', '서울'), ('일본', '동경'), ('중국', '북경')])
<class 'dict_items'>
------------------------------------
[('한국', '서울'), ('일본', '동경'), ('중국', '북경')]
<class 'list'>

## 조건문

In [116]:
# 

score = int(input("점수를 입력해주세요. (0~100)"))
print(score)

if score >= 90:
  # 코드 작성
  print('A등급')
elif score >=80:
  print('B등급')
elif score >= 70:
  print('C등급')
elif score >= 60:
  print('D등급')
elif score >= 50:
  print('E등급')      
else:
  print('F등급')

점수를 입력해주세요. (0~100)75
75
C등급

## 반복문
- Hello World 여러번 입력

In [ ]:
# for i in 범위가 정해진 값:

In [118]:
for i in range(3):
  # 코드 작성
  print(i + 1, "Hello World")

1 Hello World
2 Hello World
3 Hello World

In [119]:
a = "Hello"
for x in a:
  print(x)

H
e
l
l
o

In [122]:
a = [100, 200, 300]
for x in a:
  print(x)

100
200
300

In [123]:
a = (100, 200, 300)
for x in a:
  print(x)

100
200
300

In [ ]:
# for i in 범위가 정해진 값(=시퀀스데이터):

## 파이썬 반복문 여러가지 방법
- 종류 겁나 많음

In [126]:
a = [0, 1, 2]
for idx in a:
  print(idx, a[idx])

0 0
1 1
2 2

In [128]:
a = ["A", "B", "C"]

num = 0
for idx in a:
  print(num, idx)
  num += 1

0 A
1 B
2 C

In [127]:
a = ["A", "B", "C"]
for idx, value in enumerate(a):
  print(idx, value)

0 A
1 B
2 C

In [129]:
str_list = ["A", "B", "C"]
num_list = [1,2,3]

for strs, nums in zip(str_list, num_list):
  print(strs, nums)

A 1
B 2
C 3

### While문

In [130]:
i = 1
while i < 7:
  print("Hello World")
  i += 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

## 파이썬 다운 문법 : 파이써닉 방식
- Pythonic way
- for loop 반복문을 한줄로 처리
- List Comprehension (리스트 컴프리헨션)

In [ ]:
a = ['computer', 'apple', 'human', 'zoo', 'country']

# a가 들어간 문자만 리스트에 담기.
result_list = []
for x in a:
  if "a" in x:
    result_list.append(x)
result_list

In [132]:
a = ['computer', 'apple', 'human', 'zoo', 'country']
result2 = [x for x in a if "a" in x]
result2

['apple', 'human']